{% extends '__base.html' %}

{% load conference_tags %}

{% block body_className %}page-home{% endblock %}

{% block content %}
    <div class="row">
        <section id="intro" class="span4">
            <p><strong>ПрофсоUX</strong>&nbsp;&mdash; главная питерская конференция о&nbsp;юзабилити, UX&nbsp;и&nbsp;создании цифровых продуктов, ориентированных на&nbsp;человека.</p>
            <p><a href="https://docs.google.com/forms/d/1KkbRy9uXRu_RLdKo3tnGhvhTHLuHWu2erAyaJAVSdz0/viewform" class="btn btn-signup btn-primary btn-large">Хочу принять участие в&nbsp;ProfsoUX 2014</a></p>
            {% include "inc/btn-share.inc" %}
        </section>

        <section id="programm" class="span4">
            <h2>Участникам</h2>

            <p>ProfsoUX&nbsp;&mdash; это доклады, мастер-классы, дискуссии, встречи с интересными людьми, и то, что захотите вы: предложения присылайте на <a href="mailto:contact@profsoux.ru">contact@profsoux.ru</a>.</p>
            <p>Для вдохновения рекомендуем посмотреть <a href="https://www.facebook.com/Profsoux/photos_stream">фотографии предыдущих конференций</a>.</p>
            <p>Не забудьте оставить <a href="https://docs.google.com/forms/d/1KkbRy9uXRu_RLdKo3tnGhvhTHLuHWu2erAyaJAVSdz0/viewform">заявку на участие</a>, и мы сообщим вам, как только начнется регистрация.</p>
        </section>

        <section id="speakers" class="span4">
            <h2>Докладчикам</h2>

            <p>Если вам есть, чем поделиться с коллегами, самое время отправить заявку на <a href="mailto:contact@profsoux.ru">contact@profsoux.ru</a>. Пришлите тему и описание сути доклада, а также несколько слов о&nbsp;себе.</p>
            <p>Для примера можно <a href="http://2013.profsoux.ru/schedule/">посмотреть доклады прошлого года</a>.</p>
        </section>
    </div>
    {% if states.show_tweets %}
    <div class="row">
        <section id="confTweetsBlock" class="conf-tweets-block span12">
            <h2>Twitter <a href="https://twitter.com/search?q=#profsoux&amp;src=typd" target="_blank">#ProfsoUX</a></h2>
            <ul id="confTweets" class="conf-tweets unstyled"></ul>
        </section>
    </div>
    {% endif %}
{% endblock %}

