{% load conference_tags %}

<section id="organizers" class="span4">
    <h2><a href="/organizers/">
        {% if lang == "ru" %}Организаторы{% endif%}
        {% if lang == "en" %}Organizers{% endif%}
    </a></h2>
    <ul class="clearfix">
    {% for organization in items.orgs %}
        <li>
            {% if organization.organization.site %}
            <a href="{{ organization.organization.site }}">
                {% if organization.organization.logo %}
                    <img src="{{ organization.organization.logo|thumbnail:"80x80" }}" alt="{{ organization.organization.name|safe }}">
                {% else %}
                    <img src="http://placehold.it/80x80" alt="{{ organization.organization.name|safe }}">    
                {% endif %}    
            </a>
            {% else %}
            <span>
                {% if organization.organization.logo %}
                    <img src="{{ organization.organization.logo|thumbnail:"80x80" }}" alt="{{ organization.organization.name|safe }}">
                {% else %}
                    <img src="http://placehold.it/80x80" alt="{{ organization.organization.name|safe }}">    
                {% endif %}
            </span>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
</section>

{% regroup items.partners by partner_type as partners_list %}

<section id="partners" class="span8">
    <h2><a href="/partners/">
        {% if lang == "ru" %}Патнёры{% endif%}
        {% if lang == "en" %}Partners{% endif%}
    </a></h2>
    {% for partner_group in partners_list %}
        {% if not forloop.first %}
            <h3>{{ partner_group.grouper.title_plural }}</h3>
        {% endif %}
        <ul class="clearfix">
        {% for organization in partner_group.list %}
            <li><a href="{{ organization.organization.site }}">
                {% if organization.organization.logo %}
                    <img src="{{ organization.organization.logo|thumbnail:"80x80" }}" alt="{{ organization.organization.name|safe}}">
                {% else %}
                    <img src="http://placehold.it/80x80" alt="{{ organization.organization.name|safe }}">    
                {% endif %}
            </a>
            {% if organization.status %}
                <br>{{ organization.status }}
            {% endif %}
            </li>
        {% endfor %}
        </ul>
    {% endfor %}
</section>