{% extends "__two-column.html" %}

{% load conference_tags %}

{% block page_title %}Доклады - {{ block.super }}{% endblock %}

{% block body_className %}page-speakers{% endblock %}

{% block page-header %}
<h2>Доклады</h2>
{% endblock %}

{% block content-main %}
<!--<p>Представлены заявки, авторы которых согласились на публикацию на период рассмотрения заявок <a href="/organizers/">Программным комитетом</a>.</p>--><div class="list-of-speakers">

    {% for speaker in speakers %}

        {% cycle '<div class="row">' '' %}

        <div class="speaker span4">
            <h3><a href="{{ speaker.get_absolute_url }}">{{ speaker.person.first_name }} {{ speaker.person.last_name }}</a></h3>
            <p>{{ speaker.person.organization.name|safe }}</p>
            {% for lecture in speaker.lectures %}
                <p><a href="{{ lecture.get_absolute_url }}">{{ lecture.title|safe }}</a></p>
            {% empty %}
                <p>Тема доклада уточняется</p>
            {% endfor %}
            <a href="{{ speaker.get_absolute_url }}" class="thumbnail">
                {% if speaker.person.photo %}
                    <img src="{{ speaker.person.photo.url }}" width="80" alt="{{ speaker.person.first_name }} {{ speaker.person.last_name }}">
                {% else %}
                    <img src="http://placehold.it/80x80" alt="">
                {% endif %}
            </a>
        </div>

        {% cycle '' '</div>' %}

        {% if forloop.last %}
            {% if not forloop.counter|divisibleby:"2" %}
                </div>
            {% endif %}
        {% endif %}

    {% endfor %}
</div>
{% endblock %}
