{% load conference_tags %}

{% include "inc/html-head.inc" %}

<body class="page-location">

    {% main_menu %}

    {% include "inc/header.inc" %}

    <div id="content-container" class="container">
        <div class="row">
            <div id="content-main" class="span9">
                <div class="page-header clearfix">
                    <h2>{{ flatpage.title }}</h2>
                </div>

                <div class="row">
                    {{ flatpage.content|safe }}
                </div>
            </div>
            <aside id="content-sup" class="span3">
                {% include "inc/aside.inc" %}
            </aside>
        </div>

        <div class="row">
            {% partners_list %}
        </div>
    </div><!-- /container -->

{% include "inc/footer.inc" %}