{% load conference_tags %}

{% include "inc/html-head.inc" %}

<body class="page-home">

    {% main_menu %}

    <header id="header">
        <div class="container">
            <div id="branding">
                <div id="logo">
                    <span><img src="{{ STATIC_URL }}img/branding/logo.png" alt="" /></span>
                </div>
                
                <hgroup>
                    <h1><a href="/">ПрофсоUUUUUUX</a></h1>
                    <h2>Конференция UX-специалистов</h2>
                    <p><time>19 мая 2012</time>, Санкт-Петербург, ИТМО</p>
                </hgroup>
            </div>
        </div>
    </header>
        
    <div id="content-container" class="container">
        <div class="row">
            <section id="intro" class="span4">
                <p><strong>ПрофсоUX</strong> – главная питерская конференция о юзабилити, UX и создании цифровых продуктов, ориентированных на человека.</p>

                <p><a href="/registration/" class="btn btn-primary btn-large">Принять участие</a></p>

                <p><small>Участие бесплатное.<br />
                Торопитесь! Количество мест ограничено.</small></p>

                <p>Уже идут: {{ people_count }}. <a href="/registration/">Кто идёт? »</a></p>

                <p><a class="btn" href="#">Рассказать друзьям</a></p>
            </section>
            <section id="programm" class="span4">
                <h2>В программе</h2>

                {% category_list %}

                <p><a href="/schedule/">Подробная программа »</a></p>
            </section>

            <section id="speakers" class="span4">
                <h2>Докладчики</h2>

                {% speakers_list %}
                
                <p><a href="/speakers/">Все докладчики »</a></p>
            </section>
        </div>

        <div class="row">
            {% partners_list %}
        </div>
    </div><!-- /container -->
    
{% include "inc/footer.inc" %}