{% load conference_tags %}

{% include "inc/html-head.inc" %}

<body class="page-home">

    {% main_menu %}

    {% include "inc/header.inc" %}
        
    <div id="content-container" class="container">
        <div class="row">
            <section id="intro" class="span4">
                <p><strong>ПрофсоUX</strong>&nbsp;&mdash; главная питерская конференция о&nbsp;юзабилити, UX&nbsp;и&nbsp;создании цифровых продуктов, ориентированных на&nbsp;человека.</p>

                {% if states.registration_is_active %}

                    <p><a href="/registration/" class="btn btn-signup btn-primary btn-large">Принять участие</a>

                    <small>Участие бесплатное.<br />
                    Торопитесь! Количество мест ограничено.</small>
                    Приём заявок прекращается<br />
                    {{ dates.registration_end|date:"d.m в H:i" }}
                    </p>
                    
                {% else %}

                    <p><small>Приём заявок на участие в конференции завершён<br />
                        Вы сможете присоединиться к онлайн-трансляции.</small></p>

                {% endif %}

                <p class="small">Впервые в&nbsp;Санкт-Петербурге пройдет конференция, посвященная юзабилити и&nbsp;проектированию пользовательского взаимодействия. Доклады и&nbsp;дискуссии посвящены основным ступеням UX-процесса. Если вам интересны эти темы, то&nbsp;эта конференция для вас!</p>

                <p>Уже идут: {{ people_count }}. <a href="/people/">Кто идёт? »</a></p>

                {% include "inc/btn-share.inc" %}
            </section>
            <section id="programm" class="span4">
                <h2>В программе</h2>

                {% category_list %}
                
                <p><a href="/schedule/">Подробная программа »</a></p>
            </section>

            <section id="speakers" class="span4">
                <h2>Докладчики</h2>

                {% speakers_list %}
                
                <p><a href="/speakers/">Все докладчики »</a></p>
            </section>
        </div>

        <div class="row">
            {% partners_list %}
        </div>
    </div><!-- /container -->
    
{% include "inc/footer.inc" %}