{% load conference_tags %}

{% include "inc/html-head.inc" %}

<body class="page-paper">

    {% main_menu %}

    {% include "inc/header.inc" %}

    <div id="content-container" class="container">
        <div class="row">
            <article id="content-main" class="span9">
                <hgroup class="page-header">
                    <h2>{{ paper.title|safe }}</h2>
                    <h3>{% for speaker in paper.speaker.all %}
                        <a href="/speakers/{{ speaker.person.id }}">{{ speaker.person.first_name }} {{ speaker.person.last_name }}</a>
                        {% if not forloop.last %}
                            <br />
                        {% endif %}
                    {% endfor %}</h3>
                </hgroup>
                <div class="row">
                    <div class="span8">
                        {{ paper.description|safe }}

                        {% if paper.presentation %}
                            <p><a href="{{ paper.presentation }}">Скачать презентацию</a></p>
                        {% endif %}

                        {% if paper.slideshare_link %}
                           {{ paper.slideshare_link|safe }}
                        {% endif %}
                    </div>
                </div>
            </article>
            <aside id="content-sup" class="span3">
                {% include "inc/aside.inc" %}

                <nav>
                    <ul>
                        <li><a href="/schedule/">Список докладов »</a></li>
                        <li><a href="/speakers/">Список докладчиков</a></li>
                    </ul>
                </nav>
            </aside>
        </div>
        <div class="row">
            {% partners_list %}
        </div>
    </div><!-- /container -->
    
{% include "inc/footer.inc" %}