{% extends "inner.html" %}

{% block page_title %}
    {{ paper.title }}
{% endblock page_title %}

{% block content %}

<p>{% for speaker in paper.speaker.all %}
    <a href="/speaker/{{ speaker.person.id }}">{{ speaker.person.first_name }} {{ speaker.person.last_name }}</a>
{% endfor %}</p>

<hr>

<div class="paper">
    <div class="paper-description">
        {{ paper.description|safe }}
    </div>
    {% if paper.presentation %}
        <p><a href="{{ paper.presentation }}">Скачать презентацию</a></p>
    {% endif %}

    {% if paper.slideshare_link %}
       {{ paper.slideshare_link|safe }}
    {% endif %}

    <p><a href="/papers/">Другие доклады</a> <a href="/speakers/">Список докладчиков</a></p>
</div>
{% endblock content %}