<section id="organizers" class="span5">
    <h2>Организаторы</h2>
    <ul class="clearfix">
    {% for organization in items.orgs %}
        <li><a href="{{ organization.organization.site }}">
            {% if organization.organization.logo %}
                <img src="{{ organization.organization.logo }}" alt="{{ organization.organization.name }}">
            {% else %}
                <img src="http://placehold.it/80x40" alt="{{ organization.organization.name }}">    
            {% endif %}
        </a></li>
    {% endfor %}
    </ul>
</section>

<section id="partners" class="span7">
    <h2>Партнёры</h2>
    <ul class="clearfix">
    {% for organization in items.partners %}
        <li><a href="{{ organization.organization.site }}">
            {% if organization.organization.logo %}
                <img src="{{ organization.organization.logo }}" alt="{{ organization.organization.name }}">
            {% else %}
                <img src="http://placehold.it/80x40" alt="{{ organization.organization.name }}">    
            {% endif %}
        </a></li>
    {% endfor %}
    </ul>
</section>