{% load conference_tags %}

{% include "inc/html-head.inc" %}

<body class="page-partners">

    {% main_menu %}

    {% include "inc/header.inc" %}
     

<div id="content-container" class="container">
        <div class="row">
            <div id="contant-main" class="span9">
                <div class="page-header clearfix">
                    <h2>Партнёры</h2>
                </div>

                <div class="clearfix">
                    <ul class="list-of-partners span8">
                
                        {% for partner in partners %}

                        <li class="partner">
                            <article class="row">
                                <div class="span2">
                                    <figure class="logo">
                                        {% if partner.organization.site %}
                                        <a href="{{ partner.organization.site }}" class="thumbnail" target="_blank" title="{{ partner.organization.name }}">
                                            {% if partner.organization.logo %}
                                                <img src="{{ partner.organization.logo|thumbnail:"140x140" }}" alt="{{ partner.organization.name }}">
                                            {% else %}
                                                <img src="http://placehold.it/140x140" alt="{{ partner.organization.name }}">
                                            {% endif %}
                                        </a>
                                        {% else %}
                                        <span class="thumbnail" title="{{ partner.organization.name }}">
                                            {% if partner.organization.logo %}
                                                <img src="{{ partner.organization.logo|thumbnail:"140x140" }}" width="140" alt="{{ partner.organization.name }}">
                                            {% else %}
                                                <img src="http://placehold.it/140x140" alt="{{ partner.organization.name }}">
                                            {% endif %}
                                        </span>
                                        {% endif %}
                                    </figure>   
                                </div>
                                <div class="span6">
                                    <h3>{{ partner.organization.name }}</h3>
                                    
                                    {% if partner.organization.site %}
                                    <address><a href="{{ partner.organization.site }}" target="_blank">{{ partner.organization.site }}</a></address>
                                    {% endif %}
                                    
                                    {% if partner.organization.description %}
                                    {{ partner.organization.description|safe }}
                                    {% endif %}
                                </div>
                            </article>
                        </li>
                        
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <aside id="content-sup" class="span3">
                {% include "inc/aside.inc" %}
            </aside>
        </div>

    </div><!-- /container -->
    
{% include "inc/footer.inc" %}