{% extends "inner.html" %}

{% block page_title %}
    {{ speaker.first_name }} {{ speaker.last_name }}
{% endblock page_title %}

{% block content %}

{% for lecture in speaker.lectures %}
    <p>«<a href="/papers/{{ lecture.id }}">{{ lecture.title }}</a>»</p>
{% endfor %}

<hr>

<div class="speaker">
    {% if speaker.photo %}
        {{ speaker.photo }}
    {% endif %}
    {{ speaker.about|safe }}

    <p><a href="{{speaker.site}}">{{speaker.site}}</a></p>
    <p>{{speaker.twitter}}</p>

    <h3>{{speaker.organization.name}}</h3>
    <p><a href="{{speaker.organization.site}}">{{speaker.organization.site}}</a></p>
    <p><a href="{{speaker.organization.facebook}}">{{speaker.organization.facebook}}</a></p>
</div>
{% endblock content %}