{% extends "inner.html" %}

{% block page_title %}
    Докладчики
{% endblock page_title %}

{% block content %}
    {% for speaker in speakers %}
        <div class="paper">
            {% if speaker.person.photo %}
                {{ speaker.person.photo }}
            {% endif %}
            <h2><a href="/speakers/{{ speaker.person.id }}/">{{ speaker.person.first_name }} {{ speaker.person.last_name }}</a></h2>
            <p>{{ speaker.person.organization.name }}</p>
            {% for lecture in speaker.lectures %}
                <p><a href="/papers/{{ lecture.id }}">{{ lecture.title }}</a></p>
            {% empty %}
                <p>Тема доклада уточняется</p>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock content %}