{% load conference_tags %}

{% include "inc/html-head.inc" %}

<body class="page-speaker">

    {% main_menu %}

    {% include "inc/header.inc" %}

    <div id="content-container" class="container">
        <div class="row">
            <article id="content-main" class="span9">
                <hgroup class="page-header">
                    <h2>{{ speaker.first_name }} {{ speaker.last_name }}</h2>
                    {% for lecture in speaker.lectures %}
                        <h3><a href="/papers/{{ lecture.id }}">«{{ lecture.title|safe }}»</a></h3>
                    {% endfor %}
                </hgroup>
                <div class="row">
                    <div class="span2">
                        <figure class="thumbnail">
                            {% if speaker.photo %}
                                <img src="{{ speaker.photo|thumbnail:"140x140" }}" alt="{{ speaker.person.first_name }} {{ speaker.person.last_name }}">
                            {% else %}
                                <img src="http://placehold.it/132x132" alt="">
                            {% endif %}
                        </figure>
                    </div>
                    <div class="span6">
                        {{ speaker.about|safe }}

                        {% if speaker.site or speaker.twitter %}
                        <p>
                            {% if speaker.site %}
                                {{ speaker.site|pretty_url }}<br />
                            {% endif %}

                            {% if speaker.twitter %}
                                <a href="http://www.twitter.com/{{speaker.twitter}}">@{{speaker.twitter}}</a>
                            {% endif %}
                        </p>
                        {% endif %}

                        <h4>{{ speaker.organization.name|safe }}</h4>

                        {% if speaker.organization.site or speaker.organization.facebook %}
                        <p>
                            {% if speaker.organization.site %}
                            {{ speaker.organization.site|pretty_url }}<br />
                            {% endif %}

                            {% if speaker.organization.facebook %}
                            <a href="{{speaker.organization.facebook}}">{{speaker.organization.facebook}}</a>
                            {% endif %}
                        </p>
                        {% endif %}
                    </div>
                </div>
            </article>
            <aside id="content-sup" class="span3">
                {% include "inc/aside.inc" %}

                <nav>
                    <ul>
                        <li><a href="/speakers/">Другие докладчики »</a></li>
                        <li><a href="/schedule/">Список докладов »</a></li>
                    </ul>
                </nav>
            </aside>
        </div>

        <div class="row">
            {% partners_list %}
        </div>
    </div><!-- /container -->
    
{% include "inc/footer.inc" %}