{% load conference_tags %}

{% include "inc/html-head.inc" %}

<body class="page-contacts">

    {% main_menu %}

    {% include "inc/header.inc" %}
     

<div class="container">

        <div class="row">
            <div class="span9">
                <div class="page-header clearfix">
                    <h2>Докладчики</h2>
                </div>

                <div class="list-of-speakers">
                
                        {% for speaker in speakers %}

                        {% cycle '<div class="row">' '' %}

                        <div class="speaker span4">
                            <h3>{{ speaker.person.first_name }} {{ speaker.person.last_name }}</h3>
                            <p>{{ speaker.person.organization.name }}</p>
                            {% for lecture in speaker.lectures %}
                                <p><a href="/papers/{{ lecture.id }}">{{ lecture.title }}</a></p>
                            {% empty %}
                                <p>Тема доклада уточняется</p>
                            {% endfor %}
                            <a href="/speakers/{{ speaker.person.id }}/" class="thumbnail">
                                {% if speaker.person.photo %}
                                    <img src="{{ speaker.person.photo.url }}" width="80" alt="{{ speaker.person.first_name }} {{ speaker.person.last_name }}">
                                {% else %}
                                    <img src="http://placehold.it/80x80" alt="">
                                {% endif %}
                            </a>
                        </div>
                        
                        {% cycle '' '</div>' %}

                        {% if forloop.last %}
                            {% cycle '</div>' '' %} 
                        {% endif %}

                        {% endfor %}
                    
                </div><!-- /.list-of-speakers -->
            </div>
            <aside class="span3">
                {% include "inc/aside.inc" %}
            </aside>
        </div>

    </div><!-- /container -->
    
{% include "inc/footer.inc" %}