{% extends "__one-column.html" %}

{% load conference_tags %}

{% block page_title %}Расписание - {{ block.super }}{% endblock %}

{% block body_className %}page-schedule{% endblock %}

{% block page-header %}
<h2>Программа</h2>
{% endblock %}

{% block content-main %}
<div id="schedule" class="schedule">
<style type="text/css">.program-flow:nth-child(3) .program-flow-section-title.active {
  background-color: #FFFFE9;
}</style>

</div>
{% endblock %}

{% block extra_js %}
<script src="/api/schedule/"></script>
<script>
$(document).ready(function() {
    var table;
    table = ui.program.init({
        data: programData,
        from: programData.start,
        to: programData.end,
        conf_ts: programData.ts
    });
});
</script>
{% endblock %}
