#dsq-content .dsq-pagination {padding:0;}
#dsq-content h3 {margin-bottom:10px !important; display:none;}
#dsq-content #dsq-reply h3 {display:block;}
.dsq-comment:hover .dsq-collapse-toggle {border-bottom:0;}
#dsq-content .dsq-post-tools li.dsq-attach-media {display:none;}
.dsq-is-liked .dsq-like-thumb {position:relative; top:-6px;}

    #dsq-pagination,
    #dsq-sort-by,
    #dsq-content #dsq-global-toolbar,
    #dsq-content #dsq-comments-title,
    #dsq-content .dsq-options {display:none;}



#dsq-account-dropdown {margin-top:17px;}
.dsq-comment-meta a, .dsq-comment-actions a {border-bottom:0;}

.conf-tweets-block {}
.conf-tweets {font-size:0;}
.conf-tweets li {
    display:inline-block;
    float:none;
    min-height:60px;
    vertical-align:top;
    margin-bottom:20px;
    position:relative;
}
.conf-tweets img {
    top:5px;
    left:0;
    width:48px;
    height:48px;
    position:absolute;
}
.conf-tweets li p {
    font-size:16px;
    line-height:24px;
    margin-left:60px;
    margin-bottom:0;
}