.schedule {
  padding-top: 25px;
  padding-left: 0;
  overflow: hidden; }

.program {
  margin: 0;
  border-collapse: collapse;
  border-spacing: 0;
  font-family: Arial, sans-serif;
  /* @legend */ }
  .program td {
    position: relative;
    padding: 0;
    vertical-align: top; }
  .program a {
    /*border-bottom: 0;*/ }

/* @timeline */
.program-timeline {
  width: 40px;
  /* @left segment */
  /* @right segment */ }
  .program-timeline.left {
    border-right: 1px solid #ccc; }
    .program-timeline.left .segment-label {
      margin-right: -1px;
      padding: 3px 6px 0 0;
      text-align: right; }
    .program-timeline.left .subsegment {
      right: 0; }
    .program-timeline.left .subsegment-label {
      padding-right: 4px; }
    .program-timeline.left .segment-line {
      width: 9000%; }
  .program-timeline.right {
    border-left: 1px solid #ccc; }
    .program-timeline.right .segment-label {
      margin-left: -1px;
      padding: 3px 0 0 6px;
      text-align: left; }
    .program-timeline.right .subsegment {
      left: 0; }
    .program-timeline.right .subsegment-label {
      padding-left: 4px; }
    .program-timeline.right .segment-line {
      display: none; }
  .program-timeline .segment {
    position: relative;
    box-sizing: border-box;
    top: 0;
    height: 300px; }
    .program-timeline .segment.last {
      height: 0; }
  .program-timeline .segment-line {
    position: absolute;
    top: 0;
    left: 100%;
    /*
    height: 1px;
    background-color: #ccc;
    */
    height: 0;
    border-bottom: 1px dotted #ccc; }
  .program-timeline .segment-label {
    border-top: 1px solid #ccc; }
  .program-timeline .subsegment {
    position: absolute;
    top: auto; }
  .program-timeline .subsegment-label {
    margin-top: 0;
    padding-top: 1px;
    border-top: 1px solid #ccc;
    font-size: 12px;
    color: #999; }

/* @flow */
.program-flow {
  width: 30%;
  background-color: #FAFAFA; }
  .program-flow.code_flow_1 {
    width: 25%; }
  .program-flow.code_flow_2 {
    width: 25%; }
  .program-flow.code_flow_3 {
    width: 25%; }
  .program-flow.code_flow_4 {
    width: 25%; }
  .program-flow.first .program-item {
    margin-left: 0; }
  .program-flow.first .program-item.multiflow .time {
    display: inline; }
  .program-flow.first .program-item.multiflow .title {
    display: inline; }
  .program-flow.first .program-item.multiflow .person {
    display: inline-block; }
  .program-flow.first .program-item.multiflow .duration {
    display: block; }

/* @flow-section */
.program-flow-section {
  position: relative;
  padding-top: 25px;
  margin-top: -25px; }

/* @flow-title */
.program-flow-section-title {
  position: absolute;
  top: 0;
  height: 25px;
  margin-left: 2px; }
  .program-flow-section-title.active {
    border: 1px solid #999;
    border-width: 0 1px 1px 1px;
    margin-left: 1px;
    margin-top: -1px; }
  .program-flow-section-title.fixed {
    position: fixed;
    z-index: 10; }
  .program-flow-section-title.bottom {
    position: absolute;
    top: auto;
    bottom: 0;
    z-index: 10; }
  .program-flow-section-title .title {
    padding: 0 10px;
    font-size: 18px;
    font-weight: bold; }

/* @legends */
.code_flow_1 .program-flow-section-title.active,
.program-item.legend-analytics .inner {
  background-color: #E0F5FF; }

.code_flow_2 .program-flow-section-title.active,
.program-item.legend-ui .inner {
  background-color: #EBF5DE; }

.code_flow_3 .program-flow-section-title.active,
.program-item.legend-testing .inner {
  background-color: #FFFFE9; }

.code_flow_4 .program-flow-section-title.active,
.program-item.legend-implementation .inner {
  background-color: #FFEBEB; }

/* @item */
.program-item {
  position: relative;
  z-index: 5;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin-bottom: 0;
  margin-right: 0;
  min-width: 200px;
  background-image: none !important;
  box-shadow: 0px 0px 9px -2px rgba(0, 0, 0, 0.15); }
  .program-item.common {
    width: 400%; }
  .program-item.multiflow {
    box-shadow: none; }
    .program-item.multiflow .inner {
      border-width: 1px 0;
      left: 0;
      right: 0;
      background: url("../img/textures/program-item.png") repeat; }
    .program-item.multiflow .time,
    .program-item.multiflow .title,
    .program-item.multiflow .person,
    .program-item.multiflow .duration {
      display: none; }
  .program-item.multiflow.virtual .inner {
    background-image: none; }
  .program-item.virtual {
    z-index: 1;
    box-shadow: none; }
    .program-item.virtual .inner {
      border: 0; }
  .program-item.overlapping {
    position: relative;
    z-index: 6; }
    .program-item.overlapping .inner {
      right: 0;
      bottom: 0;
      left: 0;
      /*            border: $program-items-spacing solid #DFDFDF*/ }
  .program-item .inner {
    position: absolute;
        /*
        top: $program-items-spacing;
        @if ($program-items-spacing == 1px) {
            right: 1px;
        } @else {
            right: $program-items-spacing - 1px;
        }
        @if ($program-items-spacing == 1px) {
            bottom: 1px;
        } @else {
            bottom: $program-items-spacing - 1px;
        }
        left: $program-items-spacing;

        */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin-right: -1px;
    margin-bottom: -1px;
    border: 1px solid #dfdfdf;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #F0F0F0;
    padding: 5px 7px;
    font-size: 13px;
    line-height: 17px;
    text-shadow: none; }
  .program-item .time {
    display: inline;
    padding-right: 5px;
    color: #999; }
  .program-item .title {
    display: inline;
    margin-right: 5px;
    font-weight: bold; }
  .program-item .person {
    display: inline-block; }
  .program-item .duration {
    display: block; }

/* Dirty hack to hide afterparty duration */
.code_flow_1 .program-item:last-child .inner {
  background-image: url("../img/textures/program-item_legend-afterparty.png"); }
.code_flow_1 .program-item:last-child .duration {
  display: none !important; }
