$program-period-height: 300px;
$program-items-spacing: 1px;
$program-flow-section-title-height: 25px;

@mixin item-height($percent) {
    $extra-px: 0;
    @if $percent == 60 {
        $extra-px: 0;
    }
    height: (($program-period-height * $percent) / 60) - $extra-px;
}

.schedule {
    padding-top: $program-flow-section-title-height;
    overflow: hidden;
}

.program {
    margin: 0;
    border-collapse: collapse;
    border-spacing: 0;
    font-family: Arial, sans-serif;

    /* @legend */
    td {
        position: relative;
        padding: 0;
        vertical-align: top;
    }

    a {
        /*border-bottom: 0;*/
    }
}



/* @timeline */
.program-timeline {
    width: 40px;

    /* @left segment */
    &.left {
        border-right: 1px solid #ccc;

        .segment-label {
            margin-right: -1px;
            padding: 3px 6px 0 0;
            text-align: right;
        }

        .subsegment {
            right: 0;
        }

        .subsegment-label {
            padding-right: 4px;
        }
        .segment-line {
            width: 9000%;
        }
    }

    /* @right segment */
    &.right {
        border-left: 1px solid #ccc;

        .segment-label {
            margin-left: -1px;
            padding: 3px 0 0 6px;
            text-align: left;
        }

        .subsegment {
            left: 0;
        }

        .subsegment-label {
            padding-left: 4px;
        }

        .segment-line {
            display: none;
        }
    }

    .segment {
        position: relative;
        box-sizing: border-box;
        top: 0 ;
        height: $program-period-height;

        &.last {
            height: 0;
        }
    }

    .segment-line {
        position: absolute;
        top: 0;
        left: 100%;
        /*
        height: 1px;
        background-color: #ccc;
        */
        height: 0;
        border-bottom: 1px dotted #ccc;
    }

    .segment-label {
        border-top: 1px solid #ccc;
    }

    .subsegment {
        position: absolute;
        top: auto;
    }

    .subsegment-label {
        margin-top: 0;
        padding-top: 1px;
        border-top: 1px solid #ccc;
        font-size: 12px;
        color: #999;
    }
}



/* @flow */
.program-flow {
    width: 30%;

    &.code_flow_1 {width: 25%;}
    &.code_flow_2 {width: 25%;}
    &.code_flow_3 {width: 25%;}
    &.code_flow_4 {width: 25%;}

    &.first .program-item {
        margin-left: 0;
    }

    &.first .program-item.multiflow {
        .time {display: inline;}
        .title {display: inline;}
        .person {display: inline-block;}
        .duration {display: block;}
    }
}



/* @flow-section */
.program-flow-section {
    position: relative;
    padding-top: $program-flow-section-title-height;
    margin-top: -$program-flow-section-title-height;
}



/* @flow-title */
.program-flow-section-title {
    position: absolute;
    top: 0;
    height: 25px;
    margin-left: 2px;

    &.active {
        border: 1px solid #999;
        border-width: 0 1px 1px 1px;
        margin-left: 1px;
        margin-top: -1px;
    }

    &.fixed {
        position: fixed;
        z-index: 10;
    }

    &.bottom {
        position: absolute;
        top: auto;
        bottom: 0;
        z-index: 10;
    }

    .title {
        padding: 0 10px;
        font-size: 18px;
        font-weight: bold;
    }
}
.code_flow_1 .program-flow-section-title.active {background-color: #B5C4D2;}
.code_flow_2 .program-flow-section-title.active {background-color: #BCD0BF;}
.code_flow_3 .program-flow-section-title.active {background-color: #D2C6B5;}
.code_flow_4 .program-flow-section-title.active {background-color: #D2B5B5;}



/* @item */
.program-item {
    position: relative;
    z-index: 5;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin-bottom: 0;
    margin-right: 0;
    min-width: 200px;
    background-image: none !important;

    &.common {width: 400%;}
    &.section_testing {}

    &.multiflow {
        .inner {
            border: 0;
            left: 0;
            right: 0;
        }

        .time,
        .title,
        .person,
        .duration {
            display: none;
        }
    }

    &.overlapping {
        position: relative;
        z-index: 6;

        .inner {
            right: 0;
            bottom: 0;
            left: 0;
            border: $program-items-spacing solid #DFDFDF
        }
    }
    &.overlapping.multiflow {
        .inner {

        }
    }

    &.virtual {
        z-index: 1;

        .inner {
            border: 0;
        }
    }

    /* @legend */
    &.legend-analytics .inner {background-color: #B5C4D2;}
    &.legend-ui .inner {background-color: #BCD0BF;}
    &.legend-testing .inner {background-color: #D2C6B5;}
    &.legend-implementation .inner {background-color: #D2B5B5;}


    .inner {
        position: absolute;
        top: $program-items-spacing;
        @if ($program-items-spacing == 1px) {
            right: 1px;
        } @else {
            right: $program-items-spacing - 1px;
        }

        @if ($program-items-spacing == 1px) {
            bottom: 1px;
        } @else {
            bottom: $program-items-spacing - 1px;
        }

        left: $program-items-spacing;
        margin-right: -1px;
        margin-bottom: -1px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        background-color: #ccc;
        padding: 5px 7px;
        /*
        border: 1px solid white;
        border-right-color: transparent;
        */
        /*
        border-bottom: 2px solid white;
        border-right: 2px solid white;
        */
        font-size: 13px;
        line-height: 17px;
        text-shadow: none;
    }

    .time {
        display: inline;
        padding-right: 5px;
        color: #999;
    }

    .title {
        display: inline;
        margin-right: 5px;
        font-weight: bold;
    }

    .person {
        display: inline-block;
    }

    .duration {
        display: block;
    }
}