$program-min-width: 640px;
$program-timeline-period-height: 300px;
$program-timeline-width: 45px;
$program-items-spacing: 1px;
$program-section-title-height: 25px;

@mixin item-height($percent) {
    $extra-px: 0;
    @if $percent == 60 {
        $extra-px: 0;
    }
    height: (($program-timeline-period-height * $percent) / 60) - $extra-px;
}


/* =============================================================================
   Styles
*/


.page-schedule {
    min-width: $program-min-width;

    #content-main {

    }

    @media (max-width: 979px) and (min-width: 768px) {
        //.container {width: 800px;}
    }
    
    .span12 {

    }
}

.schedule {
    position: relative;
    min-width: $program-min-width;
    padding: $program-section-title-height 0 0 0;
    margin-left: $program-timeline-width;
    margin-right: $program-timeline-width;
    //overflow: hidden;

    &:after {
        display: block;
        clear: both;
        height: 0;
        content: '';
    }
}

.program {
    width: 100%;
    margin: 0;
    border-collapse: collapse;
    border-spacing: 0;
    font-family: Arial, sans-serif;

    /* @legend */
    td {
        position: relative;
        padding: 0;
        vertical-align: top;
    }

    a {
        /*border-bottom: 0;*/
    }
}



/* @timeline */
.program-timeline {
    position: absolute;
    top: $program-section-title-height;
    width: $program-timeline-width;

    .segment {
        position: relative;
        box-sizing: border-box;
        top: 0 ;
        height: $program-timeline-period-height;

        &.last {
            height: 0;
        }
    }

    .segment-label {
        border-top: 1px solid #ccc;
    }

    .subsegment {
        position: absolute;
        top: auto;
    }

    .subsegment-label {
        margin-top: 0;
        padding-top: 1px;
        border-top: 1px solid #ccc;
        font-size: 12px;
        color: #999;
    }

    .segment-line {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 100%;
        height: 0;
        margin-left: 1px;
        border-bottom: 1px dotted #ddd;

        &:first-child {
            display: none;
        }
    }


    /* @left segment */
    &.left {
        left: -$program-timeline-width - 1px;
        right: auto;
        border-right: 1px solid #ccc;

        .segment-label {
            margin-right: -1px;
            padding: 3px 6px 0 0;
            text-align: right;
        }

        .subsegment {
            right: 0;
        }

        .subsegment-label {
            padding-right: 4px;
            white-space: nowrap;
        }

        .segment-line {
            width: 0;
        }
    }

    /* @right segment */
    &.right {
        left: auto;
        right: -$program-timeline-width - 1px;
        border-left: 1px solid #ccc;

        @media (max-width: 980px) {
            visibility: hidden;
        }

        .segment-label {
            margin-left: -1px;
            padding: 3px 0 0 6px;
            text-align: left;
        }

        .subsegment {
            left: 0;
        }

        .subsegment-label {
            padding-left: 4px;
        }

        .segment-line {
            display: none;
        }
    }
}



/* @flow */
.program-flow {
    width: 30%;
    background-color: #FAFAFA;

    &.code_flow_1 {width: 25%;}
    &.code_flow_2 {width: 25%;}
    &.code_flow_3 {width: 25%;}
    &.code_flow_4 {width: 25%;}

    &.first .program-item {
        margin-left: 0;

        .inner {
            border-left: 0;
        }
    }
    &.last .program-item {
        .inner {
            border-right: 0;
            right: 1px;
        }
    }

    &.first .program-item.multiflow {
        .time {display: inline;}
        .title {display: inline;}
        .person {display: inline-block;}
        .duration {display: block;}
    }
}



/* @flow-section */
.program-flow-section {
    position: relative;
    padding-top: $program-section-title-height;
    margin-top: -$program-section-title-height;
}



/* @section-title */
.program-flow-section-title {
    position: absolute;
    top: 0;
    height: 25px;
    margin-left: 1px;

    &.active {
        border: 1px solid #bbb;
        border-width: 0 1px 1px 1px;
        margin-left: 0px;
        margin-top: -1px;
        border-radius: 0 0 7px 0;
    }

    &.fixed {
        position: fixed;
        z-index: 10;
        box-shadow: 0px 0px 11px -1px rgba(0, 0, 0, 0.25);
    }

    &.bottom {
        position: absolute;
        z-index: 10;
        top: auto;
        bottom: 0;
    }

    .title {
        padding: 0 10px;
        font-size: 18px;
        font-weight: normal;
        white-space: nowrap;
    }
}
.code_flow_1 .program-flow-section-title {
    margin-left: 0px;
}
.code_flow_1 .program-flow-section-title.active {
    margin-left: -1px;
}



/* @legends */
.code_flow_1 .program-flow-section-title.active,
.program-item.legend-analytics .inner {
    background-color: #E0F5FF;
}

.code_flow_2 .program-flow-section-title.active,
.program-item.legend-ui .inner {
    background-color: #EBF5DE;
}

.code_flow_3 .program-flow-section-title.active,
.program-item.legend-testing .inner {
    background-color: #FFFFE9;
}

.code_flow_4 .program-flow-section-title.active,
.program-item.legend-implementation .inner {
    background-color: #FFEBEB;
}



/* @item */
.program-item {
    position: relative;
    z-index: 5;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin-bottom: 0;
    margin-right: 0;
    min-width: 200px;
    background-image: none !important;
    box-shadow: 0px 0px 9px -2px rgba(0, 0, 0, 0.15);

    &.common {width: 400%;}
    &.section_testing {}

    &.multiflow {
        box-shadow: none;

        .inner {
            border-width: 1px 0;
            left: 0;
            right: 1px;
            background: url('../img/textures/program-item.png') repeat;
        }

        .time,
        .title,
        .person,
        .duration {
            display: none;
        }
    }
    &.multiflow.virtual {
        visibility: hidden;
        .inner {
            background-image: none;
        }
    }

    &.virtual {
        z-index: 1;
        box-shadow: none;

        .inner {
            border: 0;
        }
    }

    &.overlapping {
        position: relative;
        z-index: 6;

        .inner {
            right: 0;
            bottom: 0;
            left: 0;
/*            border: $program-items-spacing solid #DFDFDF*/
        }
    }
    &.overlapping.multiflow {
        .inner {

        }
    }


    .inner {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin-right: -1px;
        margin-bottom: -1px;
        border: 1px solid #dfdfdf;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        background-color: #F0F0F0;
        padding: 5px 7px;
        font-size: 13px;
        line-height: 17px;
        text-shadow: none;
    }

    .time {
        display: inline;
        padding-right: 5px;
        color: #999;
    }

    .title {
        display: inline;
        margin-right: 5px;
        font-weight: bold;
    }

    .person {
        display: inline-block;
    }

    .duration {
        display: block;
    }
}



/* @marker */
.program-time-marker {
    $width: 7px;
    $color: #D70000;

    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    opacity: 0.5;

    .inner {
        position: absolute;
        left: -20px;
        right: 0;
        bottom: 0;
        height: 1px;
        background-color: $color;

        &:before {
            display: block;
            position: absolute;
            top: -($width - 1px) / 2;
            left: -($width - 1px) / 2;
            width: $width;
            height: $width;
            border-radius: $width;
            background-color: $color;
            content: '';
        }
    }
}





/* Dirty hack to hide afterparty duration */
.code_flow_1 .program-item:last-child  {

    .inner {
        background-image: url('../img/textures/program-item_legend-afterparty.png');
    }

    .duration {
        display: none !important;
    }

}