/* ========================================================================== */
@media (min-width: 979px) and (max-width: 1020px) {
  #content-container {
    width: 950px; } }
@media (min-width: 979px) and (max-width: 1000px) {
  #content-container {
    width: 945px; } }
@media (min-width: 900px) and (max-width: 979px) {
  #content-container {
    width: 890px; } }
@media (min-width: 900px) and (max-width: 970px) {
  #content-container {
    width: 850px; } }
@media (min-width: 840px) and (max-width: 910px) {
  #content-container {
    width: 855px; } }
@media (min-width: 840px) and (max-width: 900px) {
  #content-container {
    width: 830px; } }
@media (min-width: 840px) and (max-width: 880px) {
  #content-container {
    width: 810px; } }
@media (min-width: 800px) and (max-width: 860px) {
  #content-container {
    width: 790px; } }
@media (min-width: 780px) and (max-width: 830px) {
  #content-container {
    width: 780px; } }
@media (min-width: 770px) and (max-width: 820px) {
  #content-container {
    width: 760px; } }
@media (max-width: 819px) {
  #content-container {
    width: 750px; } }
@media (min-width: 600px) and (max-width: 900px) {
  #content-container {
    width: 900px; } }

.page-schedule {
  min-width: 800px; }
  @media (max-width: 970px) {
    .page-schedule #content-main {
      margin-left: 0; } }

.schedule {
  position: relative;
  min-width: 800px;
  padding: 25px 0 0 0;
  margin-left: 45px;
  margin-right: 45px; }
  .schedule:after {
    display: block;
    clear: both;
    height: 0;
    content: ''; }
  @media (max-width: 970px) {
    .schedule {
      width: 800px; } }

.program {
  width: 100%;
  margin: 0;
  border-collapse: collapse;
  border-spacing: 0;
  font-family: Arial, sans-serif;
  /* @legend */ }
  .program td {
    position: relative;
    padding: 0;
    vertical-align: top; }
  .program a {
    /*border-bottom: 0;*/ }

/* @timeline */
.program-timeline {
  position: absolute;
  top: 25px;
  width: 45px;
  /* @left segment */
  /* @right segment */ }
  .program-timeline .segment {
    position: relative;
    box-sizing: border-box;
    top: 0;
    height: 300px; }
    .program-timeline .segment.last {
      height: 0; }
  .program-timeline .segment-label {
    border-top: 1px solid #cccccc; }
  .program-timeline .subsegment {
    position: absolute;
    top: auto; }
  .program-timeline .subsegment-label {
    margin-top: 0;
    padding-top: 1px;
    border-top: 1px solid #cccccc;
    font-size: 12px;
    color: #999; }
  .program-timeline .segment-line {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 100%;
    height: 0;
    margin-left: 1px;
    border-bottom: 1px dotted #dddddd; }
    .program-timeline .segment-line:first-child {
      display: none; }
  .program-timeline.left {
    left: -46px;
    right: auto;
    border-right: 1px solid #cccccc; }
    .program-timeline.left .segment-label {
      margin-right: -1px;
      padding: 3px 6px 0 0;
      text-align: right; }
    .program-timeline.left .subsegment {
      right: 0; }
    .program-timeline.left .subsegment-label {
      padding-right: 4px;
      white-space: nowrap; }
    .program-timeline.left .segment-line {
      width: 0; }
  .program-timeline.right {
    left: auto;
    right: -46px;
    border-left: 1px solid #cccccc; }
    @media (max-width: 980px) {
      .program-timeline.right {
        /*            visibility: hidden;*/ } }
    .program-timeline.right .segment-label {
      margin-left: -1px;
      padding: 3px 0 0 6px;
      text-align: left; }
    .program-timeline.right .subsegment {
      left: 0; }
    .program-timeline.right .subsegment-label {
      padding-left: 4px; }
    .program-timeline.right .segment-line {
      display: none; }

/* @flow */
.program-flow {
  width: 25%;
  background-color: #FAFAFA; }
  .program-flow.code_flow_1 {
    width: 25%; }
  .program-flow.code_flow_2 {
    width: 25%; }
  .program-flow.code_flow_3 {
    width: 25%; }
  .program-flow.code_flow_4 {
    width: 25%; }
  .program-flow.first .program-item {
    margin-left: 0; }
    .program-flow.first .program-item .inner {
      border-left: 0; }
  .program-flow.last .program-item .inner {
    border-right: 0;
    right: 1px; }
  .program-flow.first .program-item.multiflow .time {
    display: inline; }
  .program-flow.first .program-item.multiflow .title {
    display: inline; }
  .program-flow.first .program-item.multiflow .person {
    display: inline-block; }
  .program-flow.first .program-item.multiflow .duration {
    display: block; }

/* @flow-section */
.program-flow-section {
  position: relative;
  padding-top: 25px;
  margin-top: -25px; }

/* @section-title */
.program-flow-section-title {
  position: absolute;
  top: 0;
  height: 25px;
  margin-left: 1px; }
  .program-flow-section-title.active {
    border: 1px solid #bbbbbb;
    border-width: 0 1px 1px 1px;
    margin-left: 0px;
    margin-top: -1px;
    border-radius: 0 0 7px 0; }
  .program-flow-section-title.fixed {
    position: fixed;
    z-index: 10;
    box-shadow: 0px 0px 11px -1px rgba(0, 0, 0, 0.25); }
  .program-flow-section-title.bottom {
    position: absolute;
    z-index: 10;
    top: auto;
    bottom: 0; }
  .program-flow-section-title .title {
    padding: 0 10px;
    font-size: 18px;
    font-weight: normal;
    white-space: nowrap; }

.code_flow_1 .program-flow-section-title {
  margin-left: 0px; }

.code_flow_1 .program-flow-section-title.active {
  margin-left: -1px; }

/* @legends */
.code_flow_1 .program-flow-section-title.active,
.program-flow:nth-child(1) .program-flow-section-title.active,
.program-item.legend-analytics .inner {
  background-color: #EBF5DE; }

.program-flow:nth-child(2) .program-flow-section-title.active,
.code_flow_2 .program-flow-section-title.active,
.program-item.legend-ui .inner {
  background-color: #E0F5FF; }

.program-flow:nth-child(3) .program-flow-section-title.active,
.code_flow_3 .program-flow-section-title.active,
.program-item.legend-testing .inner {
  background-color: #FFEBEB; }

.program-flow:nth-child(4) .program-flow-section-title.active,
.code_flow_4 .program-flow-section-title.active,
.program-item.legend-implementation .inner {
  background-color: #FFFFE9; }

/* @item */
.program-item {
  position: relative;
  z-index: 5;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin-bottom: 0;
  margin-right: 0;
  min-width: 200px;
  background-image: none !important;
  box-shadow: 0px 0px 9px -2px rgba(0, 0, 0, 0.15); }
  .program-item.common {
    width: 400%; }
  .program-item.multiflow {
    box-shadow: none; }
    .program-item.multiflow .inner {
      border-width: 1px 0;
      left: 0;
      right: 1px;
      background: url("../img/textures/program-item.png") repeat; }
    .program-item.multiflow .time,
    .program-item.multiflow .title,
    .program-item.multiflow .person,
    .program-item.multiflow .duration {
      display: none; }
  .program-item.multiflow.virtual {
    visibility: hidden; }
    .program-item.multiflow.virtual .inner {
      background-image: none; }
  .program-item.virtual {
    z-index: 1;
    box-shadow: none; }
    .program-item.virtual .inner {
      border: 0; }
  .program-item.overlapping {
    position: relative;
    z-index: 6; }
    .program-item.overlapping .inner {
      right: 0;
      bottom: 0;
      left: 0;
      /*            border: $program-items-spacing solid #DFDFDF*/ }
  .program-item .inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin-right: -1px;
    margin-bottom: -1px;
    border: 1px solid #dfdfdf;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #F0F0F0;
    padding: 5px 7px;
    font-size: 13px;
    line-height: 17px;
    text-shadow: none; }
  .program-item .time {
    display: inline;
    padding-right: 5px;
    color: #999; }
  .program-item .title {
    display: inline;
    margin-right: 5px;
    font-weight: bold; }
  .program-item .person {
    display: inline-block; }
  .program-item .duration {
    display: block; }

/* @marker */
.program-time-marker {
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  opacity: 0.5; }
  .program-time-marker .inner {
    position: absolute;
    left: -20px;
    right: 0;
    bottom: 0;
    height: 1px;
    background-color: #d70000; }
    .program-time-marker .inner:before {
      display: block;
      position: absolute;
      top: -3px;
      left: -3px;
      width: 7px;
      height: 7px;
      border-radius: 7px;
      background-color: #d70000;
      content: ''; }

/* Dirty hack to hide afterparty duration */
.code_flow_1 .program-item:last-child .inner {
  background-image: url("../img/textures/program-item_legend-afterparty.png"); }
.code_flow_1 .program-item:last-child .duration {
  display: none !important; }
