.program {
  overflow: hidden;
  margin: 50px 0;
  border-collapse: collapse;
  border-spacing: 0;
  font-family: Arial, sans-serif;
  /* @legend */ }
  .program td {
    position: relative;
    padding: 0;
    vertical-align: top;
    padding-top: 25px;
    /* this is for flow-title */ }
  .program a {
    /*border-bottom: 0;*/ }

/* @timeline */
.program-timeline {
  width: 40px;
  /* @left segment */
  /* @right segment */ }
  .program-timeline.left {
    border-right: 1px solid #cccccc; }
    .program-timeline.left .segment-label {
      margin-right: -1px;
      padding: 3px 6px 0 0;
      text-align: right; }
    .program-timeline.left .subsegment {
      right: 0; }
    .program-timeline.left .subsegment-label {
      padding-right: 4px; }
    .program-timeline.left .segment-line {
      width: 9000%; }
  .program-timeline.right {
    border-left: 1px solid #cccccc; }
    .program-timeline.right .segment-label {
      margin-left: -1px;
      padding: 3px 0 0 6px;
      text-align: left; }
    .program-timeline.right .subsegment {
      left: 0; }
    .program-timeline.right .subsegment-label {
      padding-left: 4px; }
    .program-timeline.right .segment-line {
      display: none; }
  .program-timeline .segment {
    position: relative;
    box-sizing: border-box;
    top: 0;
    height: 300px; }
    .program-timeline .segment.last {
      height: 0; }
  .program-timeline .segment-line {
    position: absolute;
    top: 0;
    left: 100%;
    /*
    height: 1px;
    background-color: #ccc;
    */
    height: 0;
    border-bottom: 1px dotted #cccccc; }
  .program-timeline .segment-label {
    border-top: 1px solid #cccccc; }
  .program-timeline .subsegment {
    position: absolute;
    top: auto; }
  .program-timeline .subsegment-label {
    margin-top: 0;
    padding-top: 1px;
    border-top: 1px solid #cccccc;
    font-size: 12px;
    color: #999; }

/* @flow */
.program-flow {
  width: 30%; }
  .program-flow.code_flow_1 {
    width: 25%; }
  .program-flow.code_flow_2 {
    width: 25%; }
  .program-flow.code_flow_3 {
    width: 25%; }
  .program-flow.code_flow_4 {
    width: 25%; }
  .program-flow.first .program-item {
    margin-left: 0; }
  .program-flow.first .program-item.multiflow .time {
    display: inline; }
  .program-flow.first .program-item.multiflow .title {
    display: inline; }
  .program-flow.first .program-item.multiflow .person {
    display: inline-block; }
  .program-flow.first .program-item.multiflow .duration {
    display: block; }

/* @flow-title */
.program-flow-title {
  position: absolute;
  top: 0;
  height: 25px; }
  .program-flow-title .title {
    padding: 0 10px;
    font-size: 18px;
    font-weight: bold; }

/* @item */
.program-item {
  position: relative;
  z-index: 5;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin-bottom: 0;
  margin-right: 0;
  min-width: 200px;
  background-image: none !important;
  /* @legend */ }
  .program-item.common {
    width: 400%; }
  .program-item.multiflow .inner {
    border: 0;
    left: 0;
    right: 0; }
  .program-item.multiflow .time,
  .program-item.multiflow .title,
  .program-item.multiflow .person,
  .program-item.multiflow .duration {
    display: none; }
  .program-item.overlapping {
    position: relative;
    z-index: 6; }
    .program-item.overlapping .inner {
      right: 0;
      bottom: 0;
      left: 0;
      border: 1px solid #dfdfdf; }
  .program-item.virtual {
    z-index: 1; }
    .program-item.virtual .inner {
      border: 0; }
  .program-item.legend-analytics .inner {
    background-color: #B5C4D2; }
  .program-item.legend-ui .inner {
    background-color: #BCD0BF; }
  .program-item.legend-testing .inner {
    background-color: #D2C6B5; }
  .program-item.legend-implementation .inner {
    background-color: #D2B5B5; }
  .program-item .inner {
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
    margin-right: -1px;
    margin-bottom: -1px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #ccc;
    padding: 5px 7px;
    /*
    border: 1px solid white;
    border-right-color: transparent;
    */
    /*
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    */
    font-size: 13px;
    line-height: 17px;
    text-shadow: none; }
  .program-item .time {
    display: inline;
    padding-right: 5px;
    color: #999; }
  .program-item .title {
    display: inline;
    margin-right: 5px;
    font-weight: bold; }
  .program-item .person {
    display: inline-block; }
  .program-item .duration {
    display: block; }
