{% load conference_tags %}

<ul class="list-of-speakers">
{% for speaker in items %}
    <li class="speaker">
        <h3><a href="/speakers/{{ speaker.person.id }}">{{ speaker.person.first_name }} {{ speaker.person.last_name }}</a></h3>
        <p>{{ speaker.person.organization }}</p>
        {% for lecture in speaker.lectures %}
            <p><a href="/papers/{{ lecture.id }}">«{{ lecture.title }}»</a></p>
        {% empty %}
            <p>Тема доклада уточняется</p>
        {% endfor %}

        <a href="/speakers/{{ speaker.person.id }}" class="thumbnail">
            {% if speaker.person.photo %}
                <img src="{{ speaker.person.photo|thumbnail:"80x80" }}" alt="{{ speaker.person.first_name }} {{ speaker.person.last_name }}">   
            {% else %}
                <img src="http://placehold.it/80x80" alt="{{ speaker.person.first_name }} {{ speaker.person.last_name }}">
            {% endif %}
        </a>
    </li>
{% endfor %}
</ul>