{% load conference_tags %}

<ul class="list-of-speakers">
{% for speaker in items %}
    <li class="speaker">
        <h3><a href="/speakers/{{ speaker.id }}">{{ speaker.first_name }} {{ speaker.last_name }}</a></h3>
        {% if speaker.organization  %}
        <p>{{ speaker.organization }}</p>    
        {% endif %}
        {% for lecture in speaker.lectures %}
            <p><a href="/papers/{{ lecture.id }}">«{{ lecture.title|safe }}»</a></p>
        {% empty %}
            <p>Тема доклада уточняется</p>
        {% endfor %}

        <a href="/speakers/{{ speaker.id }}" class="thumbnail">
            {% if speaker.photo %}
                <img src="{{ speaker.photo|thumbnail:"80x80" }}" alt="{{ speaker.first_name }} {{ speaker.last_name }}">   
            {% else %}
                <img src="http://placehold.it/80x80" alt="{{ speaker.first_name }} {{ speaker.last_name }}">
            {% endif %}
        </a>
    </li>
{% endfor %}
</ul>