{% extends "base.html" %}

{% block content %}
<article id="content-main">
    <div class="row">
        <div class="page-header clearfix">
            <h2 class="span6 offset2">Такой страницы у нас нет</h2>
        </div>
    </div>
    <div class="row">
                
        <div class="span6 offset2">
            <p>Наш сервер трудится не покладаю рук круглые сутки. Но иногда
                он устаёт и что-то внутри него ломается. В такие минуты он
                показывает эту страницу.</p>

            <p>Не беспокойтесь, на помощь серверу уже выехала команда
                опытных специалистов.</p>

        </div>
    </div>

</article>
{% endblock %}