{% load conference_tags %}
{% load staticfiles %}
<!DOCTYPE HTML>
<html lang="ru-RU">
<head>
    <meta charset="utf-8">
    <title>{% block page_title %}ПрофсоUX — главная в Санкт-Петербурге конференция по юзабилити и UX{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@profsoux">
	<meta name="twitter:title" content="Profsoux - Конференция по юзабилити и проектированию взаимодействия">	
	<meta name="twitter:description" content="ПрофсоUX — главная питерская конференция о юзабилити, UX и создании цифровых продуктов, ориентированных на человека.<br><br> 26 апреля 2014, Санкт-Петербург, КЦ «ПетроКонгресс»">
	<meta name="twitter:image" content="http://static.profsoux.ru/img/branding/logo_profsoux.45a753e62c3f.png">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/program.css' %}" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
   
    <link href="{% static 'favicon.ico' %}" rel="shortcut icon" type="image/x-icon">
</head>

<body class="{% block body_className %}{% endblock %}">

{% years_menu %}

{% block menu %}
{% main_menu %}
{% endblock %}

{% block header %}
{% include "inc/header.inc" %}
{% endblock %}

<div id="content-container" class="container">
    <div class="row">
    {% block content %}

    {% endblock %}
    </div>

    {% block partners %}
    <div class="row">
        {% partners_list %}
    </div>
    {% endblock %}
</div><!-- /container -->


{% block footer %}
{% include "inc/footer.inc" %}
{% endblock %}

<script src="{% static "js/jquery.js" %}"></script>
<script src="{% static "js/bootstrap.js" %}"></script>
<script src="{% static "js/common.js" %}"></script>

{% block extra_js %}{% endblock %}

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-5272530-10']);
  _gaq.push(['_setDomainName', 'profsoux.ru']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
