{% extends '__base.html' %}

{% load conference_tags %}

{% block body_className %}page-home{% endblock %}

{% block content %}
    <div class="row">
        <div class="span8">
            <h2>Онлайн-трансляция</h2>

            <p class="small">Начало трансляции в 11:30</p>

            <object id="c37609"
                    name="c37609"
                    height="380"
                    width="640"
                    type="application/x-shockwave-flash"
                    data="http://yatv.ru/files/swf/container.swf?layout=1full&amp;leftWidth=512&amp;upHeight=0&amp;apps=translations&amp;cid=37609&amp;autoplay=1">
                <param name="allowScriptAccess" value="always"></param>
                <param name="allowFullScreen" value="true"></param>
                <param name="movie" value="http://yatv.ru/files/swf/container.swf?layout=2hor&amp;leftWidth=512&amp;upHeight=0&amp;apps=translations&amp;cid=37609&amp;autoplay=1"></param>
            </object>

            <object id="c37609"
                    name="c37609"
                    height="400"
                    width="640"
                    type="application/x-shockwave-flash"
                    data="http://yatv.ru/files/swf/container.swf?layout=1full&amp;channel_title=0&amp;program_title=0&amp;leftWidth=0&amp;upHeight=0&amp;apps=translations&amp;cid=37609&amp;autoplay=2&amp;tid=2">
                <param name="allowScriptAccess" value="always"></param>
                <param name="allowFullScreen" value="true"></param>
                <param name="movie" value="http://yatv.ru/files/swf/container.swf?layout=1full&amp;channel_title=0&amp;program_title=0&amp;leftWidth=0&amp;upHeight=0&amp;apps=translations&amp;cid=37609&amp;autoplay=1"></param>
            </object>
        </div>

        <section id="speakers" class="span4">
            <p><strong>ПрофсоUX</strong> – главная питерская конференция о юзабилити, UX и создании цифровых продуктов, ориентированных на человека.</p>
            <h2>Докладчики</h2>
            {% speakers_list %}
                
            <p><a href="/speakers/">Все докладчики »</a></p>
        </section>
    </div>

    <div class="row conf-tweets-block" id="confTweetsBlock">
        <h2 class="span12">Twitter <a href="http://twitter.com/search?q=#profsoux" target="_blank">#ProfsoUX</a></h2>
        <div class="clearfix"></div>
        <ul id="confTweets" class="conf-tweets unstyled"></ul>
    </div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
$(document).ready(function() {
    // tweets stream
    ui.twee.init({
        mode: 'normal',
        searchQuery: '#profsoux since:2012-05-18 -filter:retweets'
    });
});
</script>
{% endblock %}
