{% extends '__base.html' %}

{% load conference_tags %}

{% block body_className %}page-home{% endblock %}

{% block content %}
    <div class="row">
        <div class="livestream span8" id="confVideoStream">&nbsp;</div>

        <section id="speakers" class="span4">
            <p><strong>ПрофсоUX</strong> – главная питерская конференция о юзабилити, UX и создании цифровых продуктов, ориентированных на человека.</p>
            <h2>Докладчики</h2>
            {% speakers_list %}
                
            <p><a href="/speakers/">Все докладчики »</a></p>
        </section>
    </div>

    <div class="row conf-tweets-block" id="confTweetsBlock">
        <h2 class="span12">Twitter <a href="http://twitter.com/search?q=#profsoux" target="_blank">#ProfsoUX</a></h2>
        <div class="clearfix"></div>
        <ul id="confTweets" class="conf-tweets unstyled"></ul>
    </div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
$(document).ready(function() {
    // tweets stream
    ui.twee.init({
        mode: 'normal',
        searchQuery: '#profsoux since:2012-05-18 -filter:retweets'
    });
    ui.videoStream.init({
        streamProfile: 'profsoux'
    });
});
</script>
{% endblock %}
