{% extends "__two-column.html" %}

{% block page_title %}Место проведения - {{ block.super }}{% endblock %}

{% block body_className %}page-signup{% endblock %}

{% block page-header %}
<h2>Место проведения</h2>
{% endblock %}

{% block content-main %}
{% if event.short_name == "2015" %}
<img style="max-width:100%; margin-bottom: 1em;" src="http://media.profsoux.ru/photos/misc/map-to-clubhouse.jpg" alt="Как пройти от метро" title="Как пройти от метро" />
{% endif %}
<div class="row">
    <div class="span4">
        <div class="thumbnail">
            <div id="map_canvas"></div>
            <p><a id="large-map-link" href="/map/" target="_blank">Открыть карту на весь экран</a></p>
        </div>
    </div>
    <div class="span4">
        <hgroup>
            <h5>Место проведения:<br />{{ event.place}}</h5>
        </hgroup>
        <dl>
            <dt>Адрес:</dt>
            <dd>{{ event.city }}, {{ event.address }}</dd>

            <dt>Координаты:</dt>
            <dd>{{ event.coordinates }}</dd>

            {{ event.place_note|safe }}
        </dl>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCsKlIpzWXPGSMR6Dgq7hwPuX1lf5voHZU&sensor=true"></script>
<script type="text/javascript">
    (function () {
        if(typeof $ === 'undefined') {
            t = setTimeout(arguments.callee, 100)
        } else {
            init_map();
        }
    })();

    function init_map() {
        $(document).ready(function() {
            var latlng = new google.maps.LatLng({{event.coordinates}});

            var myOptions = {
                zoom: 14,
                center: latlng,
                mapTypeControl: false,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

            var marker = new google.maps.Marker({
                position: latlng,
                map: map,
                title:"{{event.place}}"
            });
        });
    }
</script>
{% endblock %}
