{% extends "base.html" %}

{% load conference_tags %}

{% load url from future %}

{% block body_className %}page-speakers{% endblock %}

{% block content %}
<div class="row">
    <div id="content-main" class="span9">
        <div class="page-header clearfix">
            <h2>Список докладов конференции</h2>
        </div>
        <ol>
        {% for paper in papers|dictsort:"title" %}

            <li><a href="{{ paper.get_absolute_url }}">{{ paper.title|safe }}</a><br>
            {% for speaker in paper.speaker.all %}
                {{ speaker.person.first_name }}&nbsp;{{ speaker.person.last_name }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
            </li>

        {% endfor %}
        </ol>
</div>
<aside id="content-sup" class="span3">
    {% include "inc/aside.inc" %}
</aside>
{% endblock %}