{% extends "__two-column.html" %}

{% block page_title %}Список докладов - {{ block.super }}{% endblock %}

{% block body_className %}page-speakers{% endblock %}

{% block page-header %}
<h2>Список докладов конференции</h2>
{% endblock %}

{% block content-main %}
<ol>
{% for paper in papers|dictsort:"title" %}

    <li><a href="{{ paper.get_absolute_url }}">{{ paper.title|safe }}</a><br>
    {% for speaker in paper.speaker.all %}
        {{ speaker.person.first_name }}&nbsp;{{ speaker.person.last_name }}{% if not forloop.last %}, {% endif %}
    {% endfor %}
    </li>

{% endfor %}
</ol>
{% endblock %}