{% extends "__base.html" %}

{% load conference_tags %}

{% block body_className %}page-signup{% endblock %}

{% block content %}
<article id="content-main">

    {% if states.registration_is_active %}

    <div class="row">
        <div class="page-header clearfix">
            <h2 class="span6 offset2">Регистрация</h2>
        </div>
    </div>
    <div class="row">

        <form action="/registration/" id="signup-form" class="span6 offset2" method="POST">{% csrf_token %}
            {% if state == 'thanks' %}
                <div class="alert alert-block alert-success">
                  <a class="close" data-dismiss="alert">×</a>
                  <h4 class="alert-heading">Спасибо!</h4>
                  Ваша заявка на участие принята, до встречи на конференции!
                </div>
            {% endif %}
            {% if form.errors %}
                <div class="alert alert-block alert-error">
                    <a class="close" data-dismiss="alert">×</a>
                    <h4 class="alert-heading">Произошла ошибка</h4>
                    Проверьте правильность заполнения полей формы

                    {% if form.non_field_errors %}
                        {{ form.non_field_errors }}
                    {% endif %}

                    {% for field, message in form.errors.items %}
                        {{ message }}
                    {% endfor %}
                </div>
            {% endif %}

            <div class="control-group {% if form.first_name.errors %}error{% endif %}">
                <label class="control-label" for="id_first_name">{{ form.first_name.label }} <em>*</em></label>
                {{ form.first_name }}
            </div>

            <div class="control-group {% if form.last_name.errors %}error{% endif %}">
                <label class="control-label" for="id_last_name">{{ form.last_name.label }} <em>*</em></label>
                {{ form.last_name }}
            </div>

            <div class="control-group {% if form.phone.errors %}error{% endif %}">
                <label class="control-label" for="id_phone">{{ form.phone.label }} <em>*</em></label>
                <div class="controls">
                    {{ form.phone }}
                    <small class="help-inline">Телефон нужен, чтобы подтвердить ваше участие перед конференцией</small>
                </div>
            </div>

            <div class="control-group {% if form.email.errors %}error{% endif %}">
                <label class="control-label" for="id_email">{{ form.email.label }} <em>*</em></label>
                {{ form.email }}
            </div>

            <div class="control-group {% if form.company_name.errors %}error{% endif %}">
                <label class="control-label" for="id_company">{{ form.company_name.label }}</label>
                {{ form.company_name }}
            </div>

            <div class="control-group {% if form.position.errors %}error{% endif %}">
                <label class="control-label" for="id_position">{{ form.position.label }}</label>
                <div class="controls">
                    {{ form.position }}
                    <small class="help-inline">Поможет докладчикам понять, на какую аудиторию ориентироваться</small>
                </div>
            </div>

            <div class="control-group {% if form.comment.errors %}error{% endif %}">
                <label class="control-label" for="id_comment">{{ form.comment.label }}</label>
                {{ form.comment }}
            </div>

            <div class="control-group {% if form.allow_news.errors %}error{% endif %}">
                <label class="checkbox">
                    {{ form.allow_news }} Я хочу получать новости конференции на указанный Email
                </label>
                <small class="help-inline">Мы сообщим вам об изменениях времени или места проведения конференции.</small>
            </div>

            <div class="control-group {% if form.is_public.errors %}error{% endif %}">
                <label class="checkbox">
                    {{ form.is_public }} Я хочу, чтобы мои контакты были добавлены в открытый список участников конференции
                </label>
                <small class="help-inline">Мы хотим создать список участников конференции для того, чтобы вы знали, кто собирается на ней присутствовать. Это поможет вам завести новые знакомства. Вы можете отказаться от публикации своих данных.</small>
            </div>

            {{ form.confirmed }}

            <p><small><em>*</em> Обязательные поля</small></p>

            <button type="submit" id="submit-button" class="btn btn-primary btn-large">Зарегистрироваться</button>
        </form>
    </div>

    {% else %}

    <div class="row">
        <div class="page-header clearfix">
            <h2 class="span6 offset2">Регистрация окончена</h2>
        </div>
    </div>
    <div class="row">
        <div class="span6 offset2">
            <p>К сожалению, мы не можем принять вашу заявку на участие в конференции «ПрофсоUX»,
                но на нашем сайте во время проведения конференции будет организована онлайн-трансляция.</p>
        </div>
    </div>

    {% endif %}

</article>
{% endblock %}

{% block partners %}{% endblock %}
