{% load conference_tags %}

{% include "inc/html-head.inc" %}

<body>

    {% years_menu %}

    <nav id="nav-main" class="navbar">
        <div class="navbar-inner">
            <div class="container"></div>
        </div>
    </nav>

    {% include "inc/header-en.inc" %}

    <div id="content-container" class="container">
        <div class="row">
            <div id="content-main" class="span9">
                <div class="page-header clearfix">
                    <h2>{{ flatpage.title }}</h2>
                </div>

                <div class="row">
                    <div class="span8">
                    {{ flatpage.content|safe }}
                    </div>
                </div>
            </div>
            <aside id="content-sup" class="span3">
                {% include "inc/aside-en.inc" %}
            </aside>
        </div>

        <div class="row">
            {% partners_list %}
        </div>
    </div><!-- /container -->

{% include "inc/footer-en.inc" %}