{% extends 'base.html' %}

{% load conference_tags %}

{% block menu %}
<nav id="nav-main" class="navbar">
    <div class="navbar-inner">
        <div class="container"></div>
    </div>
</nav>
{% endblock %}

{% block header %}
{% include "inc/header-en.inc" %}
{% endblock %}

{% block content %}
    <div id="content-main" class="span9">
        <div class="page-header clearfix">
            <h2>{{ flatpage.title }}</h2>
        </div>

        <div class="row">
            <div class="span8">
            {{ flatpage.content|safe }}
            </div>
        </div>
    </div>
    <aside id="content-sup" class="span3">
        {% include "inc/aside-en.inc" %}
    </aside>
{% endblock %}

{% block footer %}
{% include "inc/footer-en.inc" %}
{% endblock %}
