{% extends 'flatpages/default.html' %}
{% load conference_tags %}

{% block menu %}
<nav id="nav-main" class="navbar">
    <div class="navbar-inner">
        <div class="container"></div>
    </div>
</nav>
{% endblock %}

{% block header %}
{% if event.short_name == "2016" %}
    {% include "inc/header-en.2016.inc" %}
{% else if event.short_name == "2015" %}
    {% include "inc/header-en.2015.inc" %}
{% else %}
    {% include "inc/header-en.inc" %}
{% endif %}
{% endblock %}

{% block aside %}
{% include "inc/aside-en.inc" %}
{% endblock %}

{% block footer %}
{% include "inc/footer-en.inc" %}
{% endblock %}

{% block partners %}
    <div class="row">
        {% partners_list lang="en" %}
    </div>
{% endblock %}
