{% extends '__base.html' %}

{% load conference_tags %}

{% block body_className %}page-home{% endblock %}

{% block content %}
    <div class="row">
        <section id="intro" class="span4">
            <p><strong>ПрофсоUX</strong>&nbsp;&mdash; главная питерская конференция о&nbsp;юзабилити, UX&nbsp;и&nbsp;создании цифровых продуктов, ориентированных на&nbsp;человека.</p>
            {%if not states.conference_ended %}

                {% if states.registration == "waiting" %}
                    {% if event.registration_start %}
                    <p>Приём заявок на участие в конференции «ProfsoUX» откроется <nobr>{{ event.registration_start }}</nobr></p>
                    {% endif %}
                {% elif states.registration == "active" %}
                    <p><a href="/registration/" class="btn btn-signup btn-primary btn-large">Принять участие</a>

                        <small>Торопитесь! Количество мест ограничено.</small><br />
                        {% if event.registration_end %}
                        Приём заявок прекращается
                        {{ event.registration_end }}
                        {% endif %}
                    </p>

                    <p>Тезисы докладов принимаются <nobr>до 1 апреля 2013 года</nobr> по&nbsp;адресу:
                        <a href="mailto:pc-chairs@ux-spb.ru"><nobr>pc-chairs@ux-spb.ru</nobr></a>.</p>
                {% else %}
                    <p><small>Приём заявок на участие в конференции завершён<br />
                        Вы сможете присоединиться к онлайн-трансляции. Трансляция начнётся в 12:30 на нашем сайте.</small></p>
                {% endif %}

                {% if counts.participants %}
                    <p>Уже идут: {{ counts.participants }}. <a href="/people/">Кто идёт? »</a></p>
                {% endif %}

            {% else %}

                <p class="small">{{ event.date }} &nbsp;Санкт-Петербурге прошла конференция, посвященная юзабилити и&nbsp;проектированию пользовательского взаимодействия. Доклады и&nbsp;дискуссии посвящены основным ступеням UX-процесса.</p>

            {% endif %}

            {% include "inc/btn-share.inc" %}
        </section>

        <section id="programm" class="span4">
            <h2>В программе</h2>

            <p>Тема конференции&nbsp;&mdash; юзабилити и UX во всех проявлениях.</p>

            <p><strong>Предварительное расписание</strong>*</p>

            <p>10.30 - 12:00. Знакомство. Приветственный кофе, блиц-доклады в холле («печа куча»).<br>
            12:00 - 15:00. Теория. Доклады в главном зале.<br>
            ОБЕД<br>
 	        16:00 - 20:00. Практика. Мастер-классы, практические занятия, консультации экспертов, блиц-доклады с дискуссией.<br>
 	        21:00 - 23.30. After Party. Общение и UX в свободном формате.</p>
 	        
             <p>* В расписании ожидаются изменения и дополнения.</p>

            {% if counts.lectures %}
            <p><a href="/schedule/">Подробная программа »</a></p>
            {% endif %}
        </section>

        <section id="speakers" class="span4">
            <h2>Докладчики</h2>

            {% speakers_list %}

            {% if counts.speakers %}
            <p><a href="/speakers/">Все докладчики »</a></p>
            {% endif %}
        </section>
    </div>
    {% if states.show_tweets %}
    <div class="row">
        <section id="confTweetsBlock" class="conf-tweets-block span12">
            <h2>Twitter <a href="http://profsoux.ru/twitter/" target="_blank">#ProfsoUX</a></h2>
            <ul id="confTweets" class="conf-tweets unstyled"></ul>
        </section>
    </div>
    {% endif %}
{% endblock %}

{% block extra_js %}
    {% if states.show_tweets %}
        <script type="text/javascript">
            $(document).ready(function() {
                ui.twee.init({
                    mode: 'normal',
                    searchQuery: '#profsoux since:2012-05-18 -filter:retweets'
                });
            });
        </script>
    {% endif %}
{% endblock %}
