{% extends '__base.html' %}

{% load conference_tags %}

{% block body_className %}page-home{% endblock %}

{% block content %}
    <div class="row">
        <section id="intro" class="span4">
            <p><strong>ПрофсоUX</strong>&nbsp;&mdash; главная питерская конференция о&nbsp;юзабилити, UX&nbsp;и&nbsp;создании цифровых продуктов, ориентированных на&nbsp;человека.</p>
            {%if not states.conference_ended %}

                {% if states.registration == "waiting" %}
                    {% if event.registration_start %}
                    <p>Приём заявок на участие в конференции «ProfsoUX» откроется <nobr>{{ event.registration_start }}</nobr></p>
                    {% endif %}
                {% elif states.registration == "active" %}
                    <p><a href="/registration/" class="btn btn-signup btn-primary btn-large">Принять участие</a>

                        <small>Торопитесь! Количество мест ограничено.</small><br />
                        {% if event.registration_end %}
                        Приём заявок прекращается
                        {{ event.registration_end }}
                        {% endif %}
                    </p>

                {% else %}
                    <p><small>Приём заявок на участие в конференции завершён<br />
                        Вы сможете присоединиться к онлайн-трансляции. Трансляция начнётся в 11:30 на нашем сайте.</small></p>
                {% endif %}

                {% if counts.participants %}
                    <p>Уже идут: {{ counts.participants }}. <a href="/people/">Кто идёт? »</a></p>
                {% endif %}

            {% else %}

                <p class="small">Конференция прошла {{ event.date }} в&nbsp;Санкт-Петербурге.</p>

                <p class="small">Презентации и&nbsp;видеозаписи (из&nbsp;Большого зала)  доступны на&nbsp;страницах <a href="/papers/">докладов</a>. Фотографии смотрите <a href="https://www.facebook.com/Profsoux">в&nbsp;группе на&nbsp;Facebook</a>.</p>
                <p><a href="http://profsoux.ru/registration/" class="btn btn-signup btn-primary btn-large">Хочу принять участие в&nbsp;ProfsoUX</a></p>

            {% endif %}

            {% include "inc/btn-share.inc" %}
        </section>

        <section id="programm" class="span4">
            <h2>В программе</h2>

            {% category_list %}

            {% if event.show_programm %}
            <p><a href="http://{{ event.domain }}/schedule/">Подробная программа »</a></p>
            {% endif %}
        </section>

        <section id="speakers" class="span4">
            <h2>Докладчики</h2>

            {% speakers_list %}

            {% if counts.speakers %}
            <p><a href="/speakers/">Все докладчики »</a></p>
            {% endif %}
        </section>
    </div>
    {% if states.show_tweets %}
    <div class="row">
        <section id="confTweetsBlock" class="conf-tweets-block span12">
            <h2>Twitter <a href="https://twitter.com/search?q=#profsoux&amp;src=typd" target="_blank">#ProfsoUX</a></h2>
            <ul id="confTweets" class="conf-tweets unstyled"></ul>
        </section>
    </div>
    {% endif %}
{% endblock %}

{% block extra_js %}
    {% if states.show_tweets %}
        <script type="text/javascript">
            $(document).ready(function() {
                ui.twee.init({
                    mode: 'normal',
                    searchQuery: '#profsoux since:{{ event.date|date:"Y-m-d" }} -filter:retweets'
                });
            });
        </script>
    {% endif %}
{% endblock %}
