{% extends 'base.html' %}

{% load conference_tags %}

{% block body_className %}page-home{% endblock %}

{% block header %}
{% include "inc/header-short.inc" %}
{% endblock %}

{% block content %}
    <div id="content-main" class="span9">
        <div class="row">
            <div class="span8">
                {{ flatpage.content|safe }}
            </div>
        </div>
    </div>
    <aside id="content-sup" class="span3">
        <p><a href="http://profsoux.ru/registration/" class="btn btn-signup btn-primary btn-large">Принять участие</a>

        <small>Мастер-класс проводится в России впервые, количество мест ограничено 20-ю.</small>
    </p>
    </aside>
{% endblock %}
