{% extends "__two-column.html" %}

{% load conference_tags %}

{% block body_className %}page-signup{% endblock %}

{% block page-header %}
    {% if states.registration == "active" %}
    <h2>Регистрация</h2>
    {% else %}
    <h2 class="span6 offset2">Регистрация окончена</h2>
    {% endif %}
{% endblock %}

{% block content-main %}
    {% if states.registration == "active" %}
    <h3>Стоимость участия</h3>
    <table class="table table-striped">
        <tr>
            <th>Дата регистрации:</th>
            <th>январь</th>
            <th>февраль</th>
            <th>март</th>
            <th>апрель</th>
            <th>май</th>
        </tr>
        <tr>
            <th>Обычный участник</th>
            <td>2500</td>
            <td>2500</td>
            <td>3500</td>
            <td>4500</td>
            <td>5500</td>
        </tr>
        <tr>
            <th>Студент, аспирант</th>
            <td>1000</td>
            <td>1000</td>
            <td>1500</td>
            <td>2000</td>
            <td>2500</td>
        </tr>
        <tr>
            <th>Мастер-класс «<a href="/masterclass/">User Experience Design</a>»</th>
            <td>12000</td>
            <td>12000</td>
            <td>13000</td>
            <td>14000</td>
            <td>15000</td>
        </tr>
        <tr>
            <th><a href="/masterclass/">Мастер-класс</a> + конференция</th>
            <td>14000</td>
            <td>14000</td>
            <td>16000</td>
            <td>18000</td>
            <td>20000</td>
        </tr>
    </table>

    <h3>Подать заявку</h3>
    <div id="paygate">
        <script src="https://profsoux.ticketforevent.com/ru/widget/?h=0.5&s=0.04" id="paygateScript"></script>
    </div>
    <p>В случае проблем с регистрацией пишите на&nbsp;<a href="mailto:contact@profsoux.ru">contact@profsoux.ru</a> или&nbsp;звоните&nbsp;<nobr>+7 (812) 336-93-44</nobr>.</p>
    {% else %}
    <div class="span6 offset2">
        <p>К сожалению, мы не можем принять вашу заявку на участие в конференции «ПрофсоUX»,
            но на нашем сайте во время проведения конференции будет организована онлайн-трансляция.</p>
    </div>
    {% endif %}
{% endblock %}

{% block aside %}
    {% if states.registration == "active" %}
    <h4>Способы оплаты</h4>

    <ol>
        <li>По карте</li>
        <li>Банковским переводом (по запросу предоставляется договор, акт и пр.)</li>
        <li>Робокасса (Яндекс.Деньги, платёжные терминалы и др.)</li>
        <li>QIWI Кошелек</li>
    </ol>

    <p><a href="/registation/return-policy/">Политика возврата</a></p>
    {% endif %}
{% endblock %}
